.App {
  text-align: center;
}

.todo{
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  width: 400px;
  border: 1px solid;
  background-color: ghostwhite;
}

.top{
  display: flex;
}

.todoList{
  text-align: left;
}

input{
  width: 300px;
  padding: 8px;
  font-size: 16px;
  margin: auto;
}

button {
  padding: 8px 10px;
  font-weight: bold;
  background-color: black;
  font-size: 16px;
  color: azure;
  margin: auto;
}